/* Set the background with a radial gradient */
.App {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh; /* Make sure it covers the full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: hsl(229, 25%, 31%);
}

/* Score display styling */
.App > div.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px;
  border: 2px solid;
  border-radius: 20px;
  width: 60%;
  padding: 20px;
}

.game-name {
  color: white;
  font-weight: bold;
}

.game-name > h2 {
  margin: 0;
}

.score-wrap {
  border-radius: 20px;
  padding: 0px 15px;
  background: white;
}

.score-wrap > .score-title {
  margin: 10px 0px;
}

.score-wrap > .score-num {
  margin: 0;
  text-align: center;
}

/* Game board styles */
.game-board {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.game-board > .choice-wrap {
  display: flex;
  flex-direction: row;
}

.result {
  color: #fff;
}

button.reset {
  background: #fff;
  color: #ff0000;
}

/* Button styles */
button {
  background: hsl(39, 89%, 49%); /* Example for Scissors */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: hsl(40, 84%, 53%); /* Example hover effect */
}

/* App.css */
@media (max-width: 768px) {
  .score-container {
    flex-direction: column;
  }
}
